{% extends "base.html" %}
{% block head %}<title>Groups overview</title>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/removegroup.js"></script>
<script type="text/javascript">
  var delurl = '{% url remove_group_or_student %}';
</script>
{% endblock %}

{% block body %}
{% load admin_edit_tag %}
<h2>Просмотр групп</h2>
<table class="gr_overview" border="1">
  <tr>
    <th>Название</th>
	<th>Староста</th>
	<th>Количество человек</th>
	<th>Action</th>
  </tr>
  {% for group in groups %}
  <tr class="group_table_row">
    <td><a href="{% url students %}?gr={{ group.id }}">{{ group.namegr }}</a></td>
	<td>{{ group.starosta }}</td>
	<td>{{ group.num_students }}</td>
	<td>{% if user.is_staff %}<input type="submit" value="Remove" onclick="removeGroup(this, {{ group.pk }}); return false;"/>/<input type="submit" value="Edit" onclick="document.location='{% url edit_group %}?grid={{ group.pk }}'" />{% else %}<i>You have no permission for any actions</i>{% endif %}</td>
  </tr>
  {% endfor %}
</table>
<div class="clr"></div>
<button type="submit" onclick="document.location='{% url add_group %}'">Add group</button>
{% if user.is_authenticated %}
  <p><a href="{% admin_url user %}">Edit user (admin)</a>
{% endif %}
{% endblock %}
